---
import BlogList from "../layouts/BlogList.astro";
const pageTitle = "My World";
---

<BlogList pageTitle={pageTitle}>
  <p>这是我的blogs</p>
  <ul>
    <li><a href="/posts/hello-world/">文章 1</a></li>
    <li><a href="/posts/post-2/">文章 2</a></li>
    <li><a href="/posts/post-3/">文章 3</a></li>
  </ul>
</BlogList>
