---

---

<div id="main-menu" class="nav-links">
  <a href="/">index</a>
  <a href="/about/">about</a>
  <a href="/blog/">blogs</a>
  <a href="/opinion/">my opinion</a>
  <a href="/tags/">tags</a>
</div>
